@tailwind base;
@tailwind components;
@tailwind utilities;

  
  .slick-slide img {
    margin: auto;
  }
  .about-wrap:hover{
    border-left: 2px solid #10e981;
  }
  .about-wrap:hover h4{
    color: #141318;
  }
  .about-wrap:hover p{
    color: #696869;
  }
  .service-slider{
    box-shadow: rgba(0, 0, 0, .80) 0px -170px 40px -40px inset;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
  }
  .trending-slider .slick-dots {
    position: absolute;
    bottom: 60px;
    right: -20%;
}
.trending-slider .slick-dots li button:before {
  font-size: 10px;
}
.success-slider .slick-dots li button:before {
  font-size: 10px;
  color: #a3a8a3 !important;
  opacity: 1;
}
.success-slider .slick-dots {
  position: absolute;
    top: -40px;
    text-align: end;
    bottom: unset !important;
}
.success-slider .slick-dots li.slick-active button:before {
  opacity: 1;
  color: #10e780 !important;
}
.testimonial-slider .slick-prev{
    left: -105px;
}
.testimonial-slider .slick-prev:before{
  content: url(../../public/images/leftArrow.png) !important; 
}
.testimonial-slider .slick-next:before{
  content: url(../../public/images/rightArrow.png) !important; 
}
.testimonial-slider .slick-next{
    right: -95px;
}
.hero-slider .slick-prev:before{
  content: "PREV" !important;
  font-size: 16px;
  color: #9f9f9f;
}
.hero-slider .slick-next:before{
  content: "NEXT" !important;
  font-size: 16px;
  color: #9f9f9f;
}
.hero-slider .slick-prev{
  top: unset !important;
  bottom: -50px;
  left: 35%;
}
.hero-slider .slick-next{
  top: unset !important;
  bottom: -50px;
  right: 35%;
}
.explore-slider .slick-prev {
  left: -85px;
}
.explore-slider .slick-prev:before{
  content: url(../../public/images/blackArrowleft.png) !important; 
}
.explore-slider .slick-next:before{
  content: url(../../public/images/blackArrowright.png) !important; 
}
:focus-visible{
  outline: 0;
}
@media (max-width: 1700px){
  .testimonial-slider .slick-next {
    right: 0;
}
.testimonial-slider .slick-prev {
  left: -20px;
  z-index: 1;
}
.explore-slider .slick-next {
  right: 0;
}
}
@media(max-width: 1023px){
  .trending-slider .slick-dots {
    bottom: 0px;
    right: 0;
}
}
@media (max-width: 1300px) and (min-width: 1280px){
  .container{
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 1060px) and (min-width: 1024px){
  .container{
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 790px) and (min-width: 768px){
  .container{
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 1024px){
  .testimonial-content{
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }
  .article-content, .explore-content{
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }
  
}
@media (max-width: 680px){
  .container{
    padding-left: 20px;
    padding-right: 20px;
  }
  .explore-slider .slick-prev {
    left: -15px;
    z-index: 1;
}
.explore-slider .slick-next {
  right: 10px;
}
}